@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-xs: 24rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 1024rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: black;
}

.custom-datepicker .react-datepicker-wrapper {
  width: 100%;
}
